<%= form_with(model: @employee) do |form|%>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :phone %>
        <%= form.text_field :phone %>
    </div>
    <div>
        <%= form.submit "Añadir un empleado nuevo"%>
    </div>
<% end %>